<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/1.16.5_Test"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
<mapEntry key="FORGE_VERSION" value="36.1.4"/>
<mapEntry key="MCP_MAPPINGS" value="official_1.16.5"/>
<mapEntry key="MCP_VERSION" value="20210115.111550"/>
<mapEntry key="MC_VERSION" value="1.16.5"/>
<mapEntry key="MOD_CLASSES" value="examplemod%%V:\Java Workspace_Test\Minecraft\1.16.5_Test\bin\main;examplemod%%V:\Java Workspace_Test\Minecraft\1.16.5_Test\bin\main"/>
<mapEntry key="assetDirectory" value="C:\Users\plopp\.gradle\caches\forge_gradle\assets"/>
<mapEntry key="assetIndex" value="1.16"/>
<mapEntry key="nativesDirectory" value="V:\Java Workspace_Test\Minecraft\1.16.5_Test\build\natives"/>
<mapEntry key="target" value="fmluserdevclient"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="1.16.5_Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="1.16.5_Test"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=REGISTRIES -XX:HeapDumpPath=MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump &quot;-Dos.name=Windows 10&quot; -Dos.version=10.0"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="V:\Java Workspace_Test\Minecraft\1.16.5_Test\run"/>
</launchConfiguration>
